*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	background-color: #f5f5f5;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	transition: 0.5s;
	color: rgba(0,0,0,0.3);
}

nav{
	display: none;
	float: left;
	width:20%;
	height: 100vh;
	background:url('img/manga.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	text-transform: uppercase;
	position: fixed;
}

nav>div{
	padding:10px 0;
	background-color: rgba(255,255,255,0.8);
	height: 100%;
	width: 100%;
}

nav>div>a>h3{
	font-size: 30px;
}

nav>div>a>img{
	width: 100px;
	height: 100px;
}

nav>div>ul{
	padding:20% 0;
}

nav>div>ul>li{
	margin-bottom: 20px;
}

nav>div>p{
	text-transform: none;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}

nav>div>img{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 10px;
	padding-top: 10px;
}


main{
	float: right;
	width: 100%;
	height: auto;
	background-image: url('img/manga-slide.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#layer-main{
	display: table;
	background-color: rgba(0,0,0,0.7);
	height: 100vh;
	width: 100%;
}

#layer-main-content{
	color: white;
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 50px;
	padding-left: 50px;
}

#layer-main-content>h2{
	font-size: 72px;
}

#layer-main-content>p{
	font-size: 24px;
}

main>img{
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 10px;
	padding-top: 10px;
}

#about,#contact,#gallery{
	display: none;
	background-color: #f5f5f5;
	padding:10px;
}

#about>h1, #contact>h1, #gallery>h1{
	text-align: center;
	width: 100%;
}

#about>p{
font-family: 'Roboto', sans-serif;
	text-align: justify;
	font-size: 18px;
	margin:10px 0;
	clear: both;
	padding-top:20px;
}

#about-2-img{
	width: 100%;
	height: 300px;
}

#about>div{
	width: 100%;
	padding: 20px 0;
}

#about>div>div{
	width: 50%;
	float: left;
	text-align: center;
}

#about>div>div>p>span{
	color:green;
}


#about>div>div>img{
	width: 200px;
	height: 200px;
}

.active{
	color: rgba(0,0,0,0.3);
}


#gallery>ul {
	list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#gallery>ul>li {
	margin:10px;
  	height: 40vh;
  	flex-grow: 1;
}

#gallery>ul>li:last-child {
  flex-grow: 10;
}

#gallery>ul>li>img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  cursor: pointer;
}

@media only screen and (max-width: 425px){
	#gallery>ul{
		margin:0;
	}
}

@media (max-aspect-ratio: 1/1) {
  #gallery>ul>li {
    height: 30vh;
  }
}


@media (max-height: 480px) {
  #gallery>ul>li {
    height: 80vh;
  }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  #gallery>ul {
    flex-direction: row;
  }

  #gallery>ul>li {
    height: auto;
    width: 100%;
  }
  #gallery>ul>li>img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

#gallery>ul>li>img:hover{
	transition: 1.5s;
-ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
}

iframe{
	width: 100%;
	margin-top: 10px;
	padding:30px 50px;
}

form{
	width: 100%;
	height: auto;
}

fieldset{
	width: 100%;
	height: auto;
	padding:10px;
}

legend{
	font-size: 18px;
	font-family: 'Goldman', cursive;
}

.inputs{
	float: left;
	width: 50%;
}

.inputs>input{
	width: 100%;
  padding: 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
	float: right;
	width: 45%;
	resize: none;
	padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]{
	clear: both;
	float: right;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.6);
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
font-size: 18px;
letter-spacing: 2px;
}

.passed{
	background-color: lightgreen!important;
}

.fail{
	background-color: red!important;
}

.error{
	border:1px solid red!important;
}

#contact>p{
	margin-top: 10px;
	font-family: 'Goldman', cursive;
}

@media only screen and (max-width: 1024px){
	nav>div>a>h3{
		font-size: 18px;
	}
}

@media only screen and (max-width: 768px){
	#layer-main-content{
	padding: 0;
	vertical-align: middle;
	text-align: center;
}
	#about>h1,#contact>h1,#gallery>h1{
		font-size: 24px;
	}
	.inputs,textarea{
		width: 100%;
	}
	#layer-main-content>h2{
	font-size:36px;
}

#layer-main-content>p{
	font-size: 18px;
}
}

@media only screen and (max-width: 425px){
	#about>div>div{
		width: 100%;
	}
	iframe{
		padding:0 50px;
	}
}
}
